<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WIFI Speed Test</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script src='/static/main.js' defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    <header>
        <h1>WIFI Speed Test
            <img src="/static/android-chrome-192x192.png" alt="Favicon">
        </h1>
    </header>
    <main>
        <button onclick="runSpeedTest()">Start Speed Test</button>
        <div id="results">
            <p id="download">Download speed: </p>
            <p id="upload">Upload speed: </p>
            <p id="ping">Ping: </p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Ohm Thakor</p>
    </footer>
</body>
</html>
